.pic{
  display: block;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 83%;

  &.center{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    clear: both;
  }

  &.right{
    float:        right;
    clear: left;
  }

  &.left{
    float:        left;
    margin-right: 10px;
  }

  &.medium{
    width: 450px;
  }

  &.small{
    width:     250px;
  }

  &.large{
    width:     100%;
  }

}
